# Xcode
# ========================
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# App Store Connect / Fastlane / TestFlight
# ========================
*.ipa
*.dSYM.zip
*.dSYM

# macOS / System
# ========================
.DS_Store
.AppleDouble
.LSOverride
Icon

# Backup / Architecture files
# ========================
*~
*.swp
*.lock
.el裝置